Repository external-mirrors/pmbootstrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Path conditions:
  markdownlint: any of: **/*.md, .ci/markdown.sh, .gitlab-ci.yml
  ruff: any of: .ci/ruff.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py, pyproject.toml
  shellcheck: any of: **/*.sh, .ci/shellcheck.sh, .gitlab-ci.yml, .shellcheckrc
  vermin: any of: .ci/vermin.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py
  mypy: any of: .ci/mypy.sh, .gitlab-ci.yml, pmb/**/*.py, pmbootstrap.py, pyproject.toml
  docs: any of: .ci/docs.sh, .gitlab-ci.yml, docs/, pmb/**/*.py
  deploy: any of: .ci/docs.sh, .gitlab-ci.yml, pmb/**/*.py
  install amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install amd64 python3.10: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  strict build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force_strict build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  pkgrel_bump amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  chroot basic: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml

pmb.chroot.zap: Improve error message if a chroot fails to umount
  pmb/chroot/zap.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.args: Replace constant attribute delattr() with del keyword
  pmb/helpers/args.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.qemu: Remove QEMU dep handling for Alpine 3.12
  pmb/commands/qemu.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

treewide: replace 'master' strings with 'main'
  .gitlab-ci.yml
  CONTRIBUTING.md
  docs/conf.py
  docs/cross_compiling.md
  docs/environment_variables.md
  pmb/commands/pull.py
  pmb/config/init.py
  pmb/config/pmaports.py
  pmb/helpers/git.py
  test/conftest.py
  test/core/test_pkgrepo.py
Due: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

docs: explain how to install keys for mirrors
  docs/mirrors.md
Due: markdownlint

pmb.build.autodetect: Use cross-native2 for noarch packages
  pmb/build/autodetect.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Migrate newapkbuild away from legacy frontend
  docs/api/pmb.commands.rst
  pmb/commands/__init__.py
  pmb/commands/newapkbuild.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Migrate apkindex_parse away from legacy frontend
  docs/api/pmb.commands.rst
  pmb/commands/__init__.py
  pmb/commands/apkindex_parse.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build: add support for conditional depends
  pmb/build/_package.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.apkindex: Improve overloads for parse()
  pmb/parse/apkindex.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.config.init: Remove unreachable return statement
  pmb/config/init.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Fix apkindex_parse command
  pmb/commands/apkindex_parse.py
  pmb/core/apkindex_block.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pyproject.toml: Set warn_unreachable = true for mypy
  pyproject.toml
Due: ruff, mypy

pmb.commands: Mark newapkbuild as migrated
  pmb/commands/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands: Use args.package for apkindex_parse
  pmb/commands/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.sideload: Fix sudo detection
  pmb/commands/sideload.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

CI: Add APKINDEX parsing integration test
  .ci/integration.sh
  .ci/integration_tests/parse_apkindex
  .gitlab-ci.yml
Due: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install._install: Re-add disk argument to install_system_image()
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Migrate chroot away from legacy frontend
  docs/api/pmb.commands.rst
  pmb/commands/__init__.py
  pmb/commands/chroot.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Migrate bootimg_analyze away from legacy frontend
  docs/api/pmb.commands.rst
  pmb/commands/__init__.py
  pmb/commands/bootimg_analyze.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands.apkindex_parse: Remove redundant type check
  pmb/commands/apkindex_parse.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Add additional overload for root()
  pmb/chroot/run.py
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

remove ondev support
  pmb/commands/chroot.py
  pmb/config/__init__.py
  pmb/helpers/frontend.py
  pmb/install/_install.py
  pmb/install/blockdevice.py
  pmb/install/partition.py
  pmb/parse/arguments.py
  pmb/types.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

CI: Add newapkbuild test
  .ci/integration.sh
  .ci/integration_tests/newapkbuild
  .gitlab-ci.yml
Due: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.git: Fix MissingSectionHeaderError handling
  pmb/helpers/git.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pyproject.toml: Set local_partial_types = true for mypy
  pyproject.toml
Due: ruff, mypy

pmb.helpers.ui: Actually skip UI directories without APKBUILDs
  pmb/helpers/ui.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.kconfig: Don't bother catching RuntimeError for read_categories()
  pmb/parse/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install._install: Avoid using undefined variable in exception handler
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic
