Repository external-mirrors/pmbootstrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

markdownlint:
  stage: test
  script:
  - .ci/markdown.sh

ruff:
  stage: test
  script:
  - .ci/ruff.sh

shellcheck:
  stage: test
  script:
  - .ci/shellcheck.sh

vermin:
  stage: test
  script:
  - .ci/vermin.sh

mypy:
  stage: test
  script:
  - .ci/mypy.sh

docs:
  stage: test
  script:
  - .ci/docs.sh
  artifacts:
    paths:
    - public

deploy:
  stage: deploy
  before_script:
  - apk -q add openssh-client rsync
  script:
  - mkdir "${HOME}/.ssh"
  - echo "${SSH_HOST_KEY}" > "${HOME}/.ssh/known_hosts"
  - echo "${SSH_PRIVATE_KEY}" > "${HOME}/.ssh/id_ed25519"
  - chmod 700 "${HOME}/.ssh/id_ed25519"
  ...

install amd64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

install amd64 python3.10:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

install aarch64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

force build amd64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

force build aarch64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

strict build amd64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

force_strict build aarch64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

pkgrel_bump amd64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

pmb.aportgen: Get rid of AportGenEntry
  pmb/aportgen/__init__.py
  pmb/types.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.aportgen: Clean up a string
  pmb/aportgen/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.aportgen: Use f-string for "no generator" error message
  pmb/aportgen/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Make command timeout opt-in
  pmb/core/context.py
  pmb/helpers/args.py
  pmb/helpers/run_core.py
  pmb/parse/arguments.py
  pmb/types.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.config.init: Use NonBugError for nonexistent devices
  pmb/config/init.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.deviceinfo: Use NonBugError for nonexistent devices
  pmb/parse/deviceinfo.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.deviceinfo: Clean up nonexistent device string
  pmb/parse/deviceinfo.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build.envkernel: Clean up some strings
  pmb/build/envkernel.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

test.build.test_envkernel: New test
  test/build/test_envkernel.py
Due: ruff, vermin

pyproject.toml: Override default norecursedirs for Pytest
  pyproject.toml
Due: ruff, mypy

test/pytest.ini: Remove
  test/pytest.ini
Due: none

README.md: Add note about /tmp with noexec causing problems
  README.md
Due: markdownlint

pmb.aportgen: Use NonBugError to inform that there is no generator
  pmb/aportgen/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.other: Clean up some strings
  pmb/helpers/other.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.other: Check for 0-character hostnames in validate_hostname()
  pmb/helpers/other.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

test.helpers.test_other: New test
  test/helpers/test_other.py
Due: ruff, vermin

pmb.parse._apkbuild: Remove attr-defined disable
  pmb/parse/_apkbuild.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse._apkbuild: Add support for parsing maintainer fields
  pmb/config/__init__.py
  pmb/parse/_apkbuild.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

test.parse.test_apkbuild_private: New test
  test/data/tests/APKBUILD.archived
  test/data/tests/APKBUILD.maintainer-comment-style
  test/data/tests/APKBUILD.maintainer-comment-style-co-maintainers
  test/data/tests/APKBUILD.maintainer-comment-style-too-many
  test/data/tests/APKBUILD.maintainer-field-style
  test/data/tests/APKBUILD.maintainer-field-style-co-maintainers
  test/data/tests/APKBUILD.maintainer-mixed-style-too-many
  test/parse/test_apkbuild_private.py
Due: ruff, vermin

pmb.aportgen.core: Skip maintainer fields too, not just comments
  pmb/aportgen/core.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.aportgen: Don't specify # Maintainer and # Contributor in rewrite() call
  pmb/aportgen/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands.base: Add add_arguments() stub method
  pmb/commands/base.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands.flasher: Move argument parsing away from arguments.py
  pmb/commands/flasher.py
  pmb/commands/test.py
  pmb/parse/__init__.py
  pmb/parse/arguments.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build.kconfig: allow passing outputdir into _make
  pmb/build/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.config: add _defconfig as valid apkbuild var
  pmb/config/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build.kconfig: allow bypassing .config check in get_outputdir
  pmb/build/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build.kconfig: add a "generate" cmd to build kconfig from fragments
  pmb/build/kconfig.py
  pmb/commands/__init__.py
  pmb/commands/kconfig.py
  pmb/parse/arguments.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

test.build.test_kconfig_fragments: new test
  test/build/test_kconfig_fragments.py
Due: ruff, vermin

test.parse.test_kconfig_generation: new test
  test/parse/test_kconfig_generation.py
Due: ruff, vermin

pmb.build.kconfig: _make: accept a list of make commands
  pmb/build/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.kconfig: add function to generate a fragment from kccheck.toml
  pmb/parse/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Path conditions:
  markdownlint: any of: **/*.md, .ci/markdown.sh, .gitlab-ci.yml
  ruff: any of: .ci/ruff.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py, pyproject.toml
  shellcheck: any of: **/*.sh, .ci/shellcheck.sh, .gitlab-ci.yml, .shellcheckrc
  vermin: any of: .ci/vermin.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py
  mypy: any of: .ci/mypy.sh, .gitlab-ci.yml, pmb/**/*.py, pmbootstrap.py, pyproject.toml
  docs: any of: .ci/docs.sh, .gitlab-ci.yml, docs/, pmb/**/*.py
  deploy: any of: .ci/docs.sh, .gitlab-ci.yml, pmb/**/*.py
  install amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install amd64 python3.10: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  strict build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force_strict build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  pkgrel_bump amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  chroot basic: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
