Repository external-mirrors/pmbootstrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Path conditions:
  markdownlint: any of: **/*.md, .ci/markdown.sh, .gitlab-ci.yml
  ruff: any of: .ci/ruff.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py, pyproject.toml
  shellcheck: any of: **/*.sh, .ci/shellcheck.sh, .gitlab-ci.yml, .shellcheckrc
  vermin: any of: .ci/vermin.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py
  mypy: any of: .ci/mypy.sh, .gitlab-ci.yml, pmb/**/*.py, pmbootstrap.py, pyproject.toml
  docs: any of: .ci/docs.sh, .gitlab-ci.yml, docs/, pmb/**/*.py
  deploy: any of: .ci/docs.sh, .gitlab-ci.yml, pmb/**/*.py
  install amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install amd64 python3.10: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  strict build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force_strict build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  pkgrel_bump amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  chroot basic: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml

CI: Add initramfs inspection test
  .ci/integration.sh
  .ci/integration_tests/inspect_initramfs
  .gitlab-ci.yml
Due: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.deviceinfo: Use __annotations__ from future instead of quoted type
  pmb/parse/deviceinfo.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.deviceinfo: Convert if ... else block to match
  pmb/parse/deviceinfo.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Add PMB_CHANNELS_CFG environment variable
  docs/environment_variables.md
  pmb/helpers/git.py
Due: markdownlint, ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Add --shallow-initial-clone argument to init
  pmb/config/init.py
  pmb/config/pmaports.py
  pmb/helpers/git.py
  pmb/parse/arguments.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.deviceinfo: Handle deviceinfo_initfs_compression
  pmb/parse/deviceinfo.py
  test/parse/test_deviceinfo.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.chroot.initfs: Support more compression formats
  pmb/chroot/initfs.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.deviceinfo: Correctly convert header_version to an int
  pmb/parse/deviceinfo.py
  test/parse/test_deviceinfo.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

CONTRIBUTING.md: Suggest git switch instead of git checkout
  CONTRIBUTING.md
Due: markdownlint

pmb, test: Use git switch instead of git checkout
  pmb/aportgen/core.py
  pmb/config/pmaports.py
  test/conftest.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: checksum: fail if verification fails
  pmb/build/checksum.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.chroot.initfs: Improve error handling and clean up code
  pmb/chroot/initfs.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.aportgen: Ask whether a new device port is upstream or downstream Luca Weiss authored 3 months ago
  pmb/aportgen/__init__.py
  pmb/aportgen/device.py
  pmb/config/__init__.py
  pmb/config/init.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

aportgen: Move target folder handling logic from config to aportgen
  pmb/aportgen/__init__.py
  pmb/config/__init__.py
  pmb/types.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Add support for loongarch64
  pmb/core/arch.py
  pmb/data/keys/alpine-devel@lists.alpinelinux.org-66ba20fe.rsa.pub
  pmb/data/qemu-user-binfmt.txt
  test/core/test_arch.py
  test/core/test_chroot.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.qemu: Allow using EFI on non-native architectures
  pmb/qemu/run.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.qemu: Add support for loongarch64
  pmb/core/arch.py
  pmb/qemu/run.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Prepare 3.6.0 release
  pmb/__init__.py
  pmb/config/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.arch: Differentiate between qemu-user and qemu-system names
  pmb/chroot/binfmt.py
  pmb/chroot/mount.py
  pmb/core/arch.py
  pmb/install/_install.py
  pmb/qemu/run.py
  test/core/test_arch.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.cpuinfo: Allow overriding cpuinfo path
  pmb/parse/cpuinfo.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

test.parse.test_cpuinfo: New test
  test/data/tests/cpuinfo-google-grouper-tegra3.txt
  test/data/tests/cpuinfo-google-kukui-krane-mt8183.txt
  test/data/tests/cpuinfo-oneplus-enchilada-sdm845.txt
  test/data/tests/cpuinfo-x86-64-desktop.txt
  test/parse/test_cpuinfo.py
Due: ruff, vermin

ci/ruff: hardcode version 0.13.2
  .ci/ruff.sh
Due: ruff, shellcheck

pmb.install: default to zapping chroots before building image
  pmb/install/_install.py
  pmb/parse/arguments.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Honor version constraints in makedepends
  pmb/helpers/pmaports.py
  test/helpers/test_pmaports.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

kconfig: Rename components_list to categories
  pmb/parse/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

kconfig: Take base kconfig categories from function argument for check
  pmb/parse/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

kconfig: Reintroduce command line argument to check for categories
  pmb/commands/__init__.py
  pmb/commands/kconfig.py
  pmb/parse/arguments.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Remove unused imports
  pmb/aportgen/busybox_static.py
  pmb/aportgen/device.py
  pmb/aportgen/grub_efi.py
  pmb/aportgen/linux.py
  pmb/aportgen/musl.py
  pmb/build/_package.py
  pmb/build/autodetect.py
  pmb/build/envkernel.py
  pmb/build/init.py
  pmb/build/other.py
  pmb/chroot/apk.py
  pmb/chroot/init.py
  pmb/chroot/initfs.py
  pmb/chroot/mount.py
  pmb/chroot/run.py
  pmb/config/init.py
  pmb/export/frontend.py
  pmb/export/odin.py
  pmb/export/symlinks.py
  pmb/flasher/frontend.py
  pmb/flasher/init.py
  pmb/flasher/run.py
  pmb/helpers/apk.py
  pmb/helpers/apk_static.py
  pmb/helpers/args.py
  pmb/helpers/frontend.py
  pmb/helpers/git.py
  pmb/helpers/lint.py
  pmb/helpers/other.py
  pmb/helpers/repo.py
  pmb/helpers/status.py
  pmb/install/_install.py
  pmb/install/partition.py
  pmb/parse/apkindex.py
  pmb/parse/bootimg.py
  pmb/parse/depends.py
  pmb/parse/deviceinfo.py
  pmb/parse/kconfig.py
  pmb/qemu/run.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Revert "ci/ruff: hardcode version 0.13.2"
  .ci/ruff.sh
Due: ruff, shellcheck
