Repository external-mirrors/pmbootstrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Path conditions:
  markdownlint: any of: **/*.md, .ci/markdown.sh, .gitlab-ci.yml
  ruff: any of: .ci/ruff.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py, pyproject.toml
  shellcheck: any of: **/*.sh, .ci/shellcheck.sh, .gitlab-ci.yml, .shellcheckrc
  vermin: any of: .ci/vermin.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py
  mypy: any of: .ci/mypy.sh, .gitlab-ci.yml, pmb/**/*.py, pmbootstrap.py, pyproject.toml
  docs: any of: .ci/docs.sh, .gitlab-ci.yml, docs/, pmb/**/*.py
  deploy: any of: .ci/docs.sh, .gitlab-ci.yml, pmb/**/*.py
  install amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install amd64 python3.10: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  strict build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force_strict build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  pkgrel_bump amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  chroot basic: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml

pmb.build.autodetect: Use cross-native2 for noarch packages
  pmb/build/autodetect.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

aportgen: correct carch string when generating kernel package
  pmb/aportgen/linux.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.ui: Actually skip UI directories without APKBUILDs
  pmb/helpers/ui.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install._install: Avoid using undefined variable in exception handler
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pyproject.toml: Set local_partial_types = true for mypy
  pyproject.toml
Due: ruff, mypy

pmb.parse.kconfig: Don't bother catching RuntimeError for read_categories()
  pmb/parse/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.git: Fix MissingSectionHeaderError handling
  pmb/helpers/git.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Prepare 3.10.0 release
  pmb/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.arguments: Add missing choices parameter for sideload arch
  pmb/parse/arguments.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.types: Properly type action_kconfig
  pmb/types.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Make match statements exhaustive
  pmb/commands/qemu.py
  pmb/helpers/locale.py
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Add error code to all type error ignores
  pmb/aportgen/__init__.py
  pmb/aportgen/device.py
  pmb/commands/config.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pyproject.toml: Enable various mypy error codes
  pyproject.toml
Due: ruff, mypy

CI: Add newapkbuild test
  .ci/integration.sh
  .ci/integration_tests/newapkbuild
  .gitlab-ci.yml
Due: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Add additional overload for root()
  pmb/chroot/run.py
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.qemu.run: Install efi image unconditionally for qemu
  pmb/commands/qemu.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands.qemu: Log that postmarketOS is running after installing EFI
  pmb/commands/qemu.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands.qemu: Clean up host executable not found error
  pmb/commands/qemu.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

CI: Run mypy if any Python file has changed
  .gitlab-ci.yml
Due: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Remove pigz zombie code
  pmb/build/init.py
  pmb/chroot/mount.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build.autodetect: Remove arch from deviceinfo logic
  pmb/build/autodetect.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.aportgen: gcc: support multiple host archs for cross compilers
  pmb/aportgen/__init__.py
  pmb/aportgen/gcc.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

test CI fix
  test/aportgen/test_gcc.py
Due: ruff, vermin

envkernel: Strip alias prefix from aliases
  helpers/envkernel.sh
Due: shellcheck, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

envkernel: Run envkernel.sh with bash
  helpers/envkernel.fish
  helpers/envkernel.sh
Due: shellcheck, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Prepare 3.10.1 release
  pmb/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Remove args from install_recovery_zip
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Remove args from install_system_image
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Migrate install away from legacy frontend
  docs/api/pmb.commands.rst
  pmb/commands/__init__.py
  pmb/commands/install.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic
