Repository external-mirrors/pmbootstrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

markdownlint:
  stage: test
  script:
  - .ci/markdown.sh

ruff:
  stage: test
  script:
  - .ci/ruff.sh

shellcheck:
  stage: test
  script:
  - .ci/shellcheck.sh

vermin:
  stage: test
  script:
  - .ci/vermin.sh

mypy:
  stage: test
  script:
  - .ci/mypy.sh

docs:
  stage: test
  script:
  - .ci/docs.sh
  artifacts:
    paths:
    - public

deploy:
  stage: deploy
  before_script:
  - apk -q add openssh-client rsync
  script:
  - mkdir "${HOME}/.ssh"
  - echo "${SSH_HOST_KEY}" > "${HOME}/.ssh/known_hosts"
  - echo "${SSH_PRIVATE_KEY}" > "${HOME}/.ssh/id_ed25519"
  - chmod 700 "${HOME}/.ssh/id_ed25519"
  ...

install amd64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

install amd64 python3.10:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

install aarch64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

force build amd64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

force build aarch64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

strict build amd64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

force_strict build aarch64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

pkgrel_bump amd64:
  stage: integration-test
  before_script:
  - - .ci/note.sh
    - apk upgrade -U
    - adduser -D build
    - echo '140.211.167.182 gitlab.postmarketos.org' >> /etc/hosts
    - if grep -q VERSION_ID=3\.17 /etc/os-release; then apk add py3-tomli; fi
  - apk upgrade -U
  ...

pmb.build.kconfig: add a "generate" cmd to build kconfig from fragments
  pmb/build/kconfig.py
  pmb/commands/__init__.py
  pmb/commands/kconfig.py
  pmb/parse/arguments.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build.kconfig: edit: add kernel fragment support
  pmb/build/kconfig.py
  pmb/commands/__init__.py
  pmb/commands/kconfig.py
  pmb/parse/arguments.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.run_core: Better handle invalid timeout values
  pmb/helpers/run_core.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Remove execute bit from config file mode
  pmb/config/file.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

docs: use new docs.postmarketos.org theme
  .ci/docs.sh
  docs/Makefile
  docs/_static/pmOS.css
  docs/conf.py
  docs/requirements.txt
Due: shellcheck, docs, deploy

docs: tweak headlines
  docs/api/modules.rst
  docs/ssh-keys.rst
Due: none

docs: rework index page
  docs/README.md
  docs/conf.py
  docs/index.rst
Due: markdownlint

gitlab-ci: deploy: trigger docs.postmarketos.org
  .gitlab-ci.yml
Due: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build.kconfig: Use LLVM for kconfig where applicable
  pmb/build/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

docs: remove sphinxext.opengraph
  docs/conf.py
  docs/requirements.txt
Due: none

docs: remove requirments.txt file
  docs/Makefile
  docs/requirements.txt
Due: none

gitlab-ci: fix trigger on changes in docs dir
  .gitlab-ci.yml
Due: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

docs: remove the version number
  docs/conf.py
Due: none

kconfig: print option value pref. in warning about missing config
  pmb/parse/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

docs: remove initial comments, duplicated info from theme
  docs/conf.py
Due: none

docs.conf: re-add extensions
  docs/conf.py
Due: none

.gitignore: Add mypyc section
  .gitignore
Due: none

pmb: Enable C4 checks
  pmb/chroot/apk.py
  pmb/core/pkgrepo.py
  pmb/helpers/lint.py
  pmb/helpers/repo_missing.py
  pmb/parse/_apkbuild.py
  pmb/parse/arguments.py
  pyproject.toml
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

setup_keymap: support systemd
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.shutdown: Add timeout to kill request sockets
  pmb/chroot/shutdown.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install: Fix `Unable to find the first partition of /dev/loop0`
  pmb/install/losetup.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

.gitignore: Fix mypyc section
  .gitignore
Due: none

docs: use postmarketOS contributors in copyright, remove author
  docs/conf.py
Due: none

pmb.build: package: replace map() with generator expression
  pmb/build/_package.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.build: package: rewrite list literal as set literal
  pmb/build/_package.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

docs.conf: Reformat with Ruff
  docs/conf.py
Due: none

pmb.parse.bootimg: Improve type hints
  pmb/parse/bootimg.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.bootimg: Fix crash with non-default Exynos QCDT values
  pmb/parse/bootimg.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

README.md: Add note about /tmp with noexec causing problems
  README.md
Due: markdownlint

pmb: Enable D10 checks and document everything
  pmb/types.py
  pmbootstrap.py
  pyproject.toml
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.aportgen: Use NonBugError to inform that there is no generator
  pmb/aportgen/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Path conditions:
  markdownlint: any of: **/*.md, .ci/markdown.sh, .gitlab-ci.yml
  ruff: any of: .ci/ruff.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py, pyproject.toml
  shellcheck: any of: **/*.sh, .ci/shellcheck.sh, .gitlab-ci.yml, .shellcheckrc
  vermin: any of: .ci/vermin.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py
  mypy: any of: .ci/mypy.sh, .gitlab-ci.yml, pmb/**/*.py, pmbootstrap.py, pyproject.toml
  docs: any of: .ci/docs.sh, .gitlab-ci.yml, docs/, pmb/**/*.py
  deploy: any of: .ci/docs.sh, .gitlab-ci.yml, pmb/**/*.py
  install amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install amd64 python3.10: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  strict build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force_strict build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  pkgrel_bump amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  chroot basic: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
