Repository external-mirrors/pmbootstrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: markdownlint, ruff, shellcheck, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

Path conditions:
  markdownlint: any of: **/*.md, .ci/markdown.sh, .gitlab-ci.yml
  ruff: any of: .ci/ruff.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py, pyproject.toml
  shellcheck: any of: **/*.sh, .ci/shellcheck.sh, .gitlab-ci.yml, .shellcheckrc
  vermin: any of: .ci/vermin.sh, .gitlab-ci.yml, pmb/**/*.py, test/**/*.py, pmbootstrap.py
  mypy: any of: .ci/mypy.sh, .gitlab-ci.yml, pmb/**/*.py, pmbootstrap.py, pyproject.toml
  docs: any of: .ci/docs.sh, .gitlab-ci.yml, docs/, pmb/**/*.py
  deploy: any of: .ci/docs.sh, .gitlab-ci.yml, pmb/**/*.py
  install amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install amd64 python3.10: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  install aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  strict build amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  force_strict build aarch64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  pkgrel_bump amd64: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml
  chroot basic: any of: .ci/integration_tests/**/*, helpers/**/*, pmb/**/*, pmbootstrap.py, .ci/integration.sh, .gitlab-ci.yml

pmb: Migrate qemu away from legacy frontend
  docs/api/pmb.commands.rst
  docs/api/pmb.qemu.rst
  docs/api/pmb.rst
  pmb/commands/__init__.py
  pmb/commands/qemu.py
  pmb/helpers/frontend.py
  pmb/qemu/__init__.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

docs: fix order of command modules
  docs/api/pmb.commands.rst
Due: none

pmb.parse.kconfig: Error on kconfig option not being set correctly
  pmb/parse/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands.kconfig: Raise NonBugError on failed validation
  pmb/build/kconfig.py
  pmb/commands/kconfig.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.core.package_metadata: Use annotations from __future__
  pmb/core/package_metadata.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pyproject.toml: Set pretty = true for mypy
  pyproject.toml
Due: ruff, mypy

pyproject.toml: Set strict_bytes = true for mypy
  pyproject.toml
Due: ruff, mypy

pmb.types: Mark sparse in PmbArgs as optional
  pmb/types.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install._install: Don't bother checking if config.keymap is None
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.types: Mark value in PmbArgs as optional
  pmb/types.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.core.chroot: Ignore comparison overlap for deviceinfo arch
  pmb/core/chroot.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

test.config.test_config_serde: Generalise config.mirrors assertion
  test/config/test_config_serde.py
Due: ruff, vermin

pmb.install: Refactor args.split
  pmb/helpers/frontend.py
  pmb/install/_install.py
  pmb/types.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pyproject.toml: Set strict_equality_for_none = true for mypy
  pyproject.toml
Due: ruff, mypy

pmb.build._package: Explicitly annotate cross and prev_cross
  pmb/build/_package.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install.recovery: Remove flavoured initfs compatiblity
  pmb/install/recovery.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

test.core.test_arch: Generalise alpine_triple() assert
  test/core/test_arch.py
Due: ruff, vermin

pmb.config.other: Don't bother checking if check_option() returns None
  pmb/config/other.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.aportgen: gcc: support multiple host archs for cross compilers
  pmb/aportgen/__init__.py
  pmb/aportgen/gcc.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands.build: Clean up some strings
  pmb/commands/build.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.commands.config: Fix type hint
  pmb/commands/config.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pyproject.toml: Enable "deprecated" mypy error code
  pyproject.toml
Due: ruff, mypy

pmb.install.format: use mkstemp
  pmb/install/format.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

fixup! pmb.install.format: use mkstemp
  pmb/install/format.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.ui: Do not fail if UI APKBUILD is missing
  pmb/helpers/ui.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install.blockdevice: Use Path.replace()
  pmb/install/blockdevice.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install: Mount disk early
  pmb/install/_install.py
  pmb/install/blockdevice.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.helpers.frontend: Ask for password early with getpass()
  pmb/helpers/frontend.py
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.parse.apkindex: Improve overloads for parse()
  pmb/parse/apkindex.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.config.init: Remove unreachable return statement
  pmb/config/init.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Fix apkindex_parse command
  pmb/core/apkindex_block.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pyproject.toml: Set warn_unreachable = true for mypy
  pyproject.toml
Due: ruff, mypy

pmb: Migrate stats away from legacy frontend
  docs/api/pmb.commands.rst
  pmb/commands/__init__.py
  pmb/commands/stats.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb.install._install: Simplify setup_timezone()
  pmb/install/_install.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Migrate apkbuild_parse away from legacy frontend
  docs/api/pmb.commands.rst
  pmb/commands/__init__.py
  pmb/commands/apkbuild_parse.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic

pmb: Migrate build_init away from legacy frontend
  docs/api/pmb.commands.rst
  pmb/commands/__init__.py
  pmb/commands/build_init.py
  pmb/helpers/frontend.py
Due: ruff, vermin, mypy, docs, deploy, install amd64, install amd64 python3.10, install aarch64, force build amd64, force build aarch64, strict build amd64, force_strict build aarch64, pkgrel_bump amd64, chroot basic
